 Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
data_creator/.ipynb_checkpoints/
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


*.pyc
data/*
__pycache__/*

